/* _content/BetterWorld/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-le6k1426p4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-le6k1426p4] {
  color: #0077cc;
}

.btn-primary[b-le6k1426p4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-le6k1426p4],
.nav-pills .show>.nav-link[b-le6k1426p4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-le6k1426p4] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-le6k1426p4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-le6k1426p4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-le6k1426p4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-le6k1426p4] {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.no-margin[b-le6k1426p4] {
  margin: 0;
  padding: 4px;
}

/* Search Button */

.search-button[b-le6k1426p4] {
  height: 16px;
  width: 16px;
  position: relative;
  border: none;
  background-color: white;
  color: #212121;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.074);
  cursor: pointer;
  overflow: hidden;
}

.search-button span[b-le6k1426p4] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.search-button[b-le6k1426p4]::before {
  content: "";
  position: absolute;
  background-color: #9e2deea3;
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: inherit;
}

.search-button svg[b-le6k1426p4] {
  fill: #9e2deea3;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.search-button:hover[b-le6k1426p4]::before {
  animation: shakeBack-b-le6k1426p4 0.6s forwards;
}

.search-button:hover svg[b-le6k1426p4] {
  fill: white;
  scale: 1.3;
}

.search-button:active[b-le6k1426p4] {
  box-shadow: none;
}

@keyframes shakeBack-b-le6k1426p4 {
  0% {
    transform: translate(-100%, 100%);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}



/* Tooltip */

.tooltip-container[b-le6k1426p4] {
  position: relative;
  display: inline-block;
  margin: 20px 8px 20px 8px;
}

.tooltip-text[b-le6k1426p4] {
  color: #333;
  font-size: 18px;
  cursor: pointer;
}

.tooltip[b-le6k1426p4] {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #321debf4;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltip[b-le6k1426p4]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #321debd8 transparent;
  transform: translateX(-50%);
}

.tooltip-container:hover .tooltip[b-le6k1426p4] {
  top: 140%;
  opacity: 1;
  visibility: visible;
  background: #321debf8;
  transform: translate(-50%, -5px);
}

/* Signin and Signout Buttons */
.Btn[b-le6k1426p4] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  height: 42px;
  margin-left: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(149, 126, 252);
}

.sign[b-le6k1426p4] {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg[b-le6k1426p4] {
  width: 17px;
}

.sign svg path[b-le6k1426p4] {
  fill: white;
}

.text[b-le6k1426p4] {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 300;
  transition-duration: .3s;
}

.Btn:hover[b-le6k1426p4] {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign[b-le6k1426p4] {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
  margin-right: 3px;
}

.Btn:hover .text[b-le6k1426p4] {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active[b-le6k1426p4] {
  transform: translate(2px, 2px);
}

/* Loader */
.loader[b-le6k1426p4] {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #ffffffff;
}

.loader div[b-le6k1426p4] {
  height: 40px;
  width: 40px;
  position: absolute;
  animation: move-b-le6k1426p4 4s infinite;
}

.loader div:nth-child(1)[b-le6k1426p4] {
  background-color: rgb(158, 136, 246);
  box-shadow: rgb(158, 136, 246) 0px 7px 29px 0px;
  transform: translate(-40px, -40px);
  animation-delay: -1s;
}

.loader div:nth-child(2)[b-le6k1426p4] {
  background-color: rgb(97, 183, 253);
  box-shadow: rgb(97, 183, 253) 0px 7px 29px 0px;
  transform: translate(40px, -40px);
  animation-delay: -2s;
}

.loader div:nth-child(3)[b-le6k1426p4] {
  background-color: rgb(95, 249, 175);
  box-shadow: rgb(95, 249, 175) 0px 7px 29px 0px;
  transform: translate(40px, 40px);
  animation-delay: -3s;
}

.loader div:nth-child(4)[b-le6k1426p4] {
  background-color: rgb(243, 171, 89);
  box-shadow: rgb(243, 171, 89) 0px 7px 29px 0px;
  transform: translate(-40px, 40px);
  animation-delay: -4s;
}

@keyframes move-b-le6k1426p4 {
  0% {
    transform: translate(-40px, -40px);
  }

  25% {
    transform: translate(40px, -40px);
  }

  50% {
    transform: translate(40px, 40px);
  }

  75% {
    transform: translate(-40px, 40px);
  }

  100% {
    transform: translate(-40px, -40px);
  }
}



/* Social Buttons */
.button[b-le6k1426p4] {
  display: grid;
  place-items: center;
  background: transparent;
  padding: 1.4em;
  cursor: pointer;
  border: none;
  transition: transform 0.5s;
}

.button:hover[b-le6k1426p4] {
  transform: translateY(0.5em);
}

.button svg[b-le6k1426p4] {
  transition: transform 0.5s;
}

.button:hover svg[b-le6k1426p4] {
  transform: scale(0.9);
  fill: #333333;
}
