.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #1C5792 , #081A2C);
  margin-bottom: 60px;
}

.nav-link{
  color: white!important;
  font-weight: bold;
}
.nav-link:hover{
  color: rgb(214, 214, 214)!important;
}

.btn{
  background: #F1802B;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
}
.btn:hover{
  background: #b86322;
  color: white;
}

.loli{
  cursor: pointer;
}