@model ModuleViewModel

@{
    ViewData["Title"] = "Create Module";
}

<h1>Create Module</h1>

<form asp-action="CreateModule">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create Module" class="btn-custom" />
    </div>
</form>

<div>
    <a class="btn-custom" asp-action="Index">Back to List</a>
</div>

<style>
    h1, .control-label{
        color: white;
    }
    /* Button Styles */
    .btn-custom {
        color: #1C5792;
        margin: 10px 0px;
        text-decoration: none;
        /* Removes underline */
        background-color: white;
        /* Blue background */
        border: 1px solid #1C5792;
        /* Blue border */
        padding: 10px 20px;
        /* Padding */
        border-radius: 5px;
        /* Rounded corners */
        display: inline-block;
        /* Align properly */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition */
    }

    .btn-custom:hover {
        background-color: #1C5792;
        ;
        /* Orange background on hover */
        color: white;
        /* White text on hover */
        border: 1px solid #F1802B;
        /* Orange border on hover */
    }
</style>