@model GHM.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/AIndex.css">

<!-- Main Container -->
<div class="container">
    <div class="row">
        <!-- Module Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modules</h5>
                    <p class="card-text">No of Modules: @Model.Modules?.Count</p>
                    <a asp-action="ModuleList" asp-controller="All" class="btn btn-primary">View</a>
                    <a asp-action="CreateModule" asp-controller="All" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
        <!-- Teacher Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teachers</h5>
                    <p class="card-text">No of Teachers: @Model.Teachers?.Count</p>
                    <a asp-action="TeacherList" asp-controller="All" class="btn btn-primary">View</a>
                    <a asp-action="CreateTeacher" asp-controller="All" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
        <!-- FeedBack Questions Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FeedBack Questions</h5>
                    <p class="card-text">No of FeedBack Questions: @Model.FeedbackQuestions?.Count</p>
                    <a asp-action="FeedbackQuestionList" asp-controller="All" class="btn btn-primary">View</a>
                    <a asp-action="CreateFeedBackQuestion" asp-controller="All" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
        <!-- FeedBack Answers Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FeedBack Answers</h5>
                    <p class="card-text">No of FeedBack Answers: @Model.Feedbacks?.Count</p>
                    <a asp-action="Index" asp-controller="FeedBackAnswer" class="btn btn-primary">View</a>
                    <a asp-action="FeedbackForm" asp-controller="All" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a class="btn-custom" asp-action="Index" asp-controller="Dashboard">Back to List</a>
</div>