@model IEnumerable<GHM.Models.ModuleViewModel>

@{
    ViewData["Title"] = "ModuleList";
}

<link rel="stylesheet" href="~/css/Module.css">

<h1>Module List</h1>

<p>
    <a class="btn-custom" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn-custom" asp-action="Index">Back to List</a>
</div>