<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Better World Employment Services">
    @using GodHatesMe.Models;
    <title>@ViewData["Title"] - Better World</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fontawesome.com/icons/user?f=classic&s=solid&sz=lg&rt=flip-horizontal" />

</head>

<body>
    @using System.Security.Claims




    <div class="mx-auto">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
