@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div style="height: 500px;" class="d-flex font-weight-bold flex-column justify-content-center align-items-center text-center">
    <h1 class="text-white display-4 poppins-regular">Communication is the solvent of all problems <br>and is a foundation for development</h1><br>
    <a class="btn rounded-pill border border-light" href="@Url.Action("Login")">Let's Get Started!</a>

</div>